html{
}
body{
        font:'Open Sans';
        width: 100wh;
      height: 100vh;
      margin: 0px;
}






@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

body *{ cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;}


@font-face
{
font-family: font;
src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
font-weight:bold;
}

.slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-family:font; font-size:22px;}
.slider{

     -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;
 

    margin:0px 15vw 0 15vw;
        height:80vh;
    width:70vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    top:100px;

       perspective:1000px;
       transition:ease-in-out .2s;
             /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/


.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }


.slide{

    

      -webkit-user-select:none;
user-select:none;
  -moz-user-select:none;
    position:absolute;
        height:80vh;
    width:70vw;

box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
background:#fcfcfc;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
             text-align:center;
             /*overflow:hidden;*/
             border:12px white solid;
             box-sizing:border-box;
             border-bottom:55px white solid;
             border-radius:5px;


    
}
.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}









.navigation{
 width: 95%;
    position: fixed;
    margin-top: 0px;
    margin-left: 1%;
    margin-right: 3%;
    height: 60px;
    padding: 1px;
    background-color: transparent;
    z-index: 1030;
    top: 0;
}
.navigation ul {
    list-style: none;
    margin-top: 0;
    padding-top: 0;
}
.navigation li{
    float: left;
}
.navigation .right ul{
    margin-top: 10px;
}
.navigation .right li a{
    width: 60px;
}
.left-bar ul {
   display: block;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    z-index: 1030;
}
.left-bar ul li {
    background: #000;
    list-style: none;
    font-size: 24px;
    transition: .5s;
}
.left-bar ul li:hover {
    transform: rotateY(360deg);
}
.left-bar ul li a {
    width: 60px;
    padding: 16px 0;
    display: block;
    color: #fff;
}

.left-bar ul li:nth-child(1) {
    background: #3b5998;
}
.left-bar ul li:nth-child(2) {
    background: #c32aa3;
}
.left-bar ul li:nth-child(3) {
    background: #00b6f1;
}
.left-bar ul li:nth-child(4) {
    background: #ff0000;
}
.navigation .left li a{
    width: 80px;
}
.navigation li a{
    display: block;
    margin: 0px 5px;
    padding: 10px 3px;
    text-decoration: none;
    font-size: 13x;
    text-align: center;
    border-radius: 10px;
    font-family: Open Sans;
    color: white;
}
.logo{
    width: 80px;
height: inbackgroundherit;
line-height: 20px;
    z-index: 1030;
}
.fixed-corner-left{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    position: fixed;
}
.container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.right{
    float: right;
    height: 60px;
}
.fit {
    margin-left: -40px;
}
.home-page{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    background-image: url(../images/3.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.join-page{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    background-image: url(../images/4.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.map-page{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    background-image: url(../images/5.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.about-page{
        width: 100vw;
    height: 100vh;
    margin: 0px;
    position: relative;
  overflow: hidden;
}
.gallery-page{
        width: 100vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    background-image: url(../images/2a.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.navigation ul li a {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.navigation ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.navigation ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: blue;
    transition: width .5s ease;
}
.navigation ul li a:hover:before {
    width: 100%;
    background: blue;
    transition: width .5s ease;
}
.navigation ul li a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.video-Block {
    width: 100%; 
    height: 100%;  
    display: flex;  
    justify-content: center; 
    align-items: center;
}
#footer {
    background-color: gray;
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear: both;
}
.centered-heading{
    height: 10em;
    position: relative 
}
.centered-heading h1        {
    position: absolute;
    margin-top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}
.main-heading{
    height: 10em;
    position: relative 
}
.main-heading h1        {
    position: absolute;
    margin-top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
}
.center-top{
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50%;
    height: 80px;
    width: 60px;
}



$numOfSlides: 5;
$slidingAT: 1.3s;
$controlSize: 60px;

.sliders {
  position: relative;
  height: 100vh;

  &__slides {
    z-index: 1;
    position: relative;
    height: 100%;
  }

  &__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 7.5%;
    width: $controlSize;
    height: $controlSize;
    margin-left: $controlSize/-2;
    margin-top: $controlSize/-2;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.3s;
    cursor: pointer;

    &--right {
      left: 92.5%;
    }
    
    &:hover {
      background-color: #2da6ff;
    }

    &-line {
      position: absolute;
      left: 23px;
      top: 50%;
      width: 3px;
      height: 14px;
      transform-origin: 50% 0;
      transform: rotate(-45deg);

      &:nth-child(2) {
        transform: translateY(1px) rotate(-135deg);
      }

      .sliders__control--right & {
        left: 37px;
        transform-origin: 1px 0;
        transform: rotate(45deg);

        &:nth-child(2) {
          transform: translateY(1px) rotate(135deg);
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #e2e2e2;
        transition: background-color 0.3s;
      }

      .sliders__control:hover &:after {
        background-color: #fff;
      }

      .sliders__control.a--rotation & {

        &:after {
          animation: arrowLineRotation 0.49s;
        }

        &:nth-child(1):after {
          animation: arrowLineRotationRev 0.49s;
        }
      }
    }
  }
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.slides {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s $slidingAT*0.7;
  clip-path: circle($controlSize/2 at 120vw 50%);

  &.s--prev {
    clip-path: circle($controlSize/2 at 30vw 50%);
  }

  &.s--active {
    z-index: 1;
    transition: clip-path $slidingAT;
    clip-path: circle(120vmax at 120vw 50%);
    
    &.s--active-prev {
      clip-path: circle(120vmax at 30vw 50%);
    }
  }

  @for $i from 1 through $numOfSlides {
    &:nth-child(#{$i}) {
      .slides__inner {
        background-image: url('../images/#{$i+1}.jpg');
      }
    }
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
  }

  &__content {
    position: absolute;
    left: 5%;
    top: 50%;
    margin-left: $controlSize/-2;
    margin-top: $controlSize*0.8;
    max-width: 480px;
    color: #fff;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 60px;
  }

  &__text {
    font-size: 25px;

    a {
      color: inherit;
    }
  }
}