body {
  font: 'Open Sans';
  width: 100wh;
  height: 100vh;
  margin: 0px;
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
  to {
  }
}

@-webkit-keyframes animation2 {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
  to {
  }
}

body * {
  cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}

@font-face {
  font-family: font;
  src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
  font-weight: bold;
}

.slider div p {
  color: #1c1c1c;
  position: absolute;
  bottom: -65px;
  font-family: font;
  font-size: 22px;
}

.slider {
  -webkit-animation: animation ease 1s;
  animation-delay: .8s;
  animation-fill-mode: backwards;
  margin: 0px 15vw 0 15vw;
  height: 80vh;
  width: 70vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  top: 100px;
  perspective: 1000px;
  transition: ease-in-out .2s;
  /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
    padding-top: 2.5%;
}

/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/
.slide img {
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-drag: none;
  border-radius: 2px;
}

.slide {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  position: absolute;
  height: 80vh;
  width: 70vw;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  background: #fcfcfc;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  text-align: center;
  /*overflow:hidden;*/
  border: 12px white solid;
  box-sizing: border-box;
  border-bottom: 55px white solid;
  border-radius: 5px;
}

.transition {
  -webkit-transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
  -moz-transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
  transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
}

.navigation {
  width: 95%;
  position: fixed;
  margin-top: 0px;
  margin-left: 1%;
  margin-right: 3%;
  height: 60px;
  padding: 1px;
  background-color: transparent;
  z-index: 1030;
  top: 0;
}

.navigation ul {
  list-style: none;
  margin-top: 0;
  padding-top: 0;
}

.navigation li {
  float: left;
}

.navigation .right ul {
  margin-top: 10px;
}

.navigation .right li a {
  width: 60px;
}

.left-bar ul {
  display: block;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 1%;
  transform: translate(-50%, -50%);
  z-index: 1030;
}

.left-bar ul li {
  background: #000;
  list-style: none;
  font-size: 24px;
  transition: .5s;
}

.left-bar ul li:hover {
  transform: rotateY(360deg);
}

.left-bar ul li a {
  width: 60px;
  padding: 16px 0;
  display: block;
  color: #fff;
}

.left-bar ul li:nth-child(1) {
  background: #3b5998;
}

.left-bar ul li:nth-child(2) {
  background: #c32aa3;
}

.left-bar ul li:nth-child(3) {
  background: #00b6f1;
}

.left-bar ul li:nth-child(4) {
  background: #ff0000;
}

.navigation .left li a {
  width: 80px;
}

.navigation li a {
  display: block;
  margin: 0px 5px;
  padding: 10px 3px;
  text-decoration: none;
  font-size: 13x;
  text-align: center;
  border-radius: 10px;
  font-family: Open Sans;
  color: white;
}
.logo {
  width: 100px;
  height: 50px;
  line-height: 20px;
  z-index: 1030;
}

.fixed-corner-left {
  margin-top: 10px;
  margin-right: 10px;
  position: fixed;
}

.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.right {
  float: right;
  height: 60px;
}

.fit {
  margin-left: -40px;
}

.home-page {
  height: 100vh;
  margin: 0px;
  position: relative;
  background-image: url(../images/TRP2.png);
  background-size: cover;
  background-position: center;
}

.join-page {
  height: 100vh;
  margin: 0px;
  position: relative;
  background-image: url(../images/4.jpg);
  background-size: cover;
  background-position: center;
}

.map-page {
  height: 100%;
  margin: 0px;
  position: relative;
  background-image: url(../images/5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.map-page iframe{
    width: 100%;
    height: 100%;
}
.artists-page {
  height: 100vh;
  margin: 0px;
  position: relative;
  overflow: hidden;
}

.gallery-page {
  height: 100vh;
  margin: 0px;
  position: relative;
  background-image: url(../images/2a.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navigation ul li a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.navigation ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width 0s ease, background .5s ease;
}

.navigation ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width .5s ease;
}

.navigation ul li a:hover:before {
  width: 100%;
  transition: width .5s ease;
}

.navigation ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.video-Block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-view{
    height: 75%;
    width: 92%;
    position: relative;
    left: 8%;
    top: 8%;
}
.schedule {
    position: relative;
    float: left;
     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.schedule img{
    flex-shrink: 0;
    width: 60vw;
    height: 85vh;
}
.centered-view .text {
    color: white;
    font-size: 24px;
    margin-top: 0px;
    overflow: hidden;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
.button{
    margin-top: 3%;
    margin-left: 12%; 
    color: aqua;
    background-color: green; 
    border: 3px; 
    padding: 15px;
}
.centered-heading {
  height: 10em;
  position: relative;
}


.main-heading {
  height: 10em;
  position: relative;
}

.main-heading h1 {
  position: absolute;
  margin-top: 20%;
  left: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 90px;
}
h1 {
    margin: 0px 40%;
    padding-top 5%;
    
}


.sliders {
  position: relative;
  height: 100vh;
}

.sliders__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}

.sliders__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 7.5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: #9966cc;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sliders__control--right {
  left: 92.5%;
}

.sliders__control:hover {
  background-color: #2da6ff;
}

.sliders__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
}

.sliders__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}

.sliders__control--right .sliders__control-line {
  left: 37px;
  transform-origin: 1px 0;
  transform: rotate(45deg);
}

.sliders__control--right .sliders__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}

.sliders__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}

.sliders__control:hover .sliders__control-line:after {
  background-color: #fff;
}

.sliders__control.a--rotation .sliders__control-line:after {
  animation: arrowLineRotation 0.49s;
}

.sliders__control.a--rotation .sliders__control-line:nth-child(1):after {
  animation: arrowLineRotationRev 0.49s;
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.slides {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at 120vw 50%);
}

.slides.s--prev {
  clip-path: circle(30px at 30vw 50%);
}

.slides.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
  clip-path: circle(120vmax at 120vw 50%);
}

.slides.s--active.s--active-prev {
  clip-path: circle(120vmax at 30vw 50%);
}

.slides:nth-child(1) .slides__inner {
  background-image: url("../images/a1.png");
}

.slides:nth-child(2) .slides__inner {
  background-image: url("../images/a2.png");
}

.slides:nth-child(3) .slides__inner {
  background-image: url("../images/a3.png");
}

.slides:nth-child(4) .slides__inner {
  background-image: url("../images/a4.png");
}

.slides:nth-child(5) .slides__inner {
  background-image: url("../images/a5.png");
}
.slides:nth-child(6) .slides__inner {
  background-image: url("../images/a6.png");
}
.slides:nth-child(7) .slides__inner {
  background-image: url("../images/a7.png");
}
.nav {
    background: rgb(54, 69, 79); /* Fallback for older browsers without RGBA-support */
    background: rgba(54, 69, 79);    
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1%;
    padding-right: 3%;
}
.padding-right{
    margin-right: 5%;
}
.slides__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}

.slides__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.slides__content {
  position: absolute;
  left: 15%;
  top: 50%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 480px;
  color: #fff;
}

.slides__heading {
  margin-bottom: 20px;
  font-size: 60px;
}

.slides__text {
  font-size: 25px;
}

.slides__text a {
  color: inherit;
}

/*footer*/
.row {
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -45px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.col-sm-2 {
    -ms-flex: 0 0 60%;
        flex: 0 0 60%;
    max-width: 60% ;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
      margin-right: 40px;
  }

#myFooter {
    background-color: #1A1110;
    color: white;
}

#myFooter .footer-copyright {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    height: 40px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
    float: right;
    padding-left: 8px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    margin-top: 0px;
}
#myFooter ul li{
    float: left;
    padding: 10px;
}
#myFooter ul li img{
    height: 40px;
    width: 40px;
}
#myFooter ul li #wide{
    height: 40px;
    width: 100px;
}
#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.container-footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5%;
  margin-left: 5%;
}

@media (min-width: 576px) {
  .container-footer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-footer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-footer {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-footer {
    max-width: 1140px;
  }
}
.col-sm-3 img {
    height: 200px;
    width: 300px;
    margin-top: -25px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav li {
    width: 100%;
    list-style: none;
}
.sidenav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    align-content: center;
}

.sidenav li a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*login form*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button-form {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-form:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-form {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1030; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.align-icons ul{
    margin-top: 79vh;
}
#mySidenav .align-icons ul li a {
    padding: 2px;
}
#mySidenav .align-icons ul li a:hover {
    padding: 2px;
  transform: rotateY(360deg);
}
#mySidenav .align-icons ul li {
    float: left;
    width: 20%;
}

.toggle-icon {
	display: block;
	position: relative;
	width: 100%;
	margin: -2.2em auto 0 0.2em;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
    margin-top: 20px;
}

.toggle-icon .bar {
	display: block;
	width: 3.8em;
	height: 0.2em;
	margin: 0.9em;
	border-right: 2.8em solid #fff;
	border-left: 0.6em solid #d6d6d6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	transition-duration: 600ms;
}
	.toggle-icon .bar:nth-of-type(1) {
		-webkit-transition: opacity 300ms;
		-moz-transition: opacity 300ms;
		transition: opacity 300ms;
	}
	.toggle-icon .bar:nth-of-type(2) {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
select #soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
